

#container {
    margin-top: 250px;
    margin-left: 18px;
    position: absolute;
}

#circles {
    height: 200px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
div{
    content-align: left;
}
.content{
    bottom:0px;
    float:left;
    content-align:center;
}
.circle {
    position: absolute;
    top: 50%;
}